<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login here</title>
</head>
<body>
<h1>login heresjsjjkskskksa</h1>
<div ng-controller = "loginCtrl">
<pre>
	<form ng-submit =login()>
     UserName :<input type="text" name = "uname" ng-model = "uname" required />
     
     Password :<input type="password" name = "pass" ng-model = "pass" required /> 

                <input type="submit" value = "login" />   
                
                
                
	</form>
	
	<a href="/spalearning/#/forget_pass">forget password</a>
</pre>
</div>
</body>
</html>